<div
  class="gem-c-success-alert"
  <%# data-module="error-summary" %>
  <%# aria-labelledby="title_id" %>
  role="alert"
  <%# tabindex="-1" %>
>
  <p class="gem-c-success-alert__message"><%= message %></p>
</div>
